<div class="card">
  <img src="https://m.media-amazon.com/images/I/71zmlJtzOCL.jpg" class="card-img-top" alt="Plant image" />
  <div class="card-body">
    <h5 class="card-title"><strong><%= offer.plant_name %></strong></h5>
    <p class="card-text"><%= offer.plant_description %></p>
    <h6 class="card-price">€<%= offer.price %></h6>
  </div>
  <div class="card-footer">
    <div class="d-flex justify-content-between">
      <img src="https://icons.veryicon.com/png/o/miscellaneous/common-area-icons/default-avatar-1.png" class="avatar img-fluid" alt="User avatar" />
      <h6><%= offer.user.username %></h6>
    </div>
  </div>
</div>
