
<div class="card-product">
  <img src="https://m.media-amazon.com/images/I/71zmlJtzOCL.jpg" alt="Plant image" />
  <div class="card-product-infos">
    <h2><%= @offer.plant_name %></h2>
    <p><%= @offer.plant_description %></p>
    <p><%= @offer.price %> €</p>

  </div>
</div>
