.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #31df06;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #2c8f0d;
  color: white;
}

.btn-flat-secondary {
  color: #31df06;
  padding: 8px 24px;
  border-radius: 4px;
  background: white;
  transition: background 0.3s ease;
}

.btn-flat-secondary:hover {
  background: #c49fff;
  color: #2c8f0d;
}

.card-buttons {
  margin-top: 16px;
  margin-right: 16px;
  display: flex;
  gap: 8px;
  float: right;
}

.btn-flat-secondary-small {
  color: #31df06;
  padding: 2px 8px;
  border-radius: 20px;
  text-align: center; margin: auto;
  font-size: 13px;
  background: white;
  vertical-align: middle;
  border: 1px solid #31df06;
  box-sizing: border-box;
  transition: background 0.3s ease;
}

.btn-flat-secondary-small:hover {
  background: #dbffd3;
  color:#2c8f0d;
  border:1px solid #2c8f0d;
}

.btn-delete-small {
  color: white;
  padding: 2px 8px;
  border-radius: 20px;
  text-align: center; margin: auto;
  font-size: 13px;
  background: red;
  vertical-align: middle;
  transition: background 0.3s ease;
}

.btn-delete-small:hover {
  background: #920000;
  color: white;
}


.top-btn{
  background-color: #787978;
  border-radius: 50%;
  text-decoration: none;
  color: white;
}
