.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #670BFF;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #4D04C4;
  color: white;
}

.btn-flat-secondary {
  color: #670BFF;
  padding: 8px 24px;
  border-radius: 4px;
  background: white;
  stroke: #670BFF;
  transition: background 0.3s ease;
}

.btn-flat-secondary:hover {
  background: #c49fff;
  color: #4D04C4;
}
