.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 20px;
  background: #26be00;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #2c8f0d;
  color: white;
}

.btn-flat-secondary {
  color: #26be00;
  padding: 8px 24px;
  border-radius: 20px;
  background: white;
  border: 1px solid #26be00;
  transition: background 0.3s ease;
}

.btn-flat-secondary:hover {
  background: #dbffd3;
  color: #26be00;
}

.btn-flat-secondary-danger {
  color: #ffffff;
  padding: 8px 24px;
  border-radius: 20px;
  background: rgb(201, 15, 15);
  transition: background 0.3s ease;
}

.btn-flat-secondary-danger:hover {
  background: #e90f0f;
  color: #fcfcfc;
}

.card-buttons {
  margin-top: 16px;
  margin-right: 16px;
  display: flex;
  gap: 8px;
  float: right;
  position: relative;
  z-index: 2;
}

.card-buttons a {
  position: relative;
  z-index: 3;
}

.btn-flat-secondary-small {
  color: #26be00;
  padding: 2px 8px;
  border-radius: 20px;
  text-align: center; margin: auto;
  font-size: 13px;
  background: white;
  vertical-align: middle;
  border: 1px solid #26be00;
  box-sizing: border-box;
  transition: background 0.3s ease;
}

.btn-flat-secondary-small:hover {
  background: #dbffd3;
  color:#43c000;
  border:1px solid #ffffff;
}

.btn-delete-small {
  color: white;
  padding: 2px 8px;
  border-radius: 20px;
  text-align: center; margin: auto;
  font-size: 13px;
  background: red;
  vertical-align: middle;
  transition: background 0.3s ease;
}

.btn-delete-small:hover {
  background: #920000;
  color: white;
}


.top-btn{
  background-color: #787978;
  border-radius: 20%;
  text-decoration: none;
  color: white;
}
