.footer {
  background-color: #283618;
  color: #dda15e;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Playwrite BE WAL", cursive;
  font-style: italic;
  // position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-top: 16px;

}

.footer-container {
  text-align: center;
}

.footer-icons {
  display: flex;
  justify-content: center;
}

.footer-icons img {
  width: 50px;
  padding: 8px;
}

.page-container {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}
