.plant-card {
  transition: all 0.3s ease;
  box-shadow: 0 4px 18px rgba(5, 91, 38, 0.1);
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
  height: 100%;
}

.plant-card:hover {
  box-shadow: 0 0 30px 10px rgba(5, 91, 38, 0.5);
  background-color: #70ab6d;
  transform: translateY(-9px);
}
a {
  color: inherit;
  text-decoration: none;
}

.plant-card-product {
  overflow: hidden;
  height: 600px;
  box-shadow: 0 0 5px rgba(4, 124, 48, 0.9);
  display: flex;
  align-items: center;
  border-radius: 80px;
}

.plant-card-product img {
  height: 100%;
  width: 600px;
  object-fit: cover;
}

.plant-card-product h2 {
  font-size: 35px;
  font-weight: bold;
  margin: 0;
  padding-bottom: 16px;
}

.plant-card-product p {
  font-size: 24px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  padding-bottom: 16px;
}

.plant-card-product .plant-card-product-infos {
  padding: 16px;
}
